/net.sf.eclipsecs.core.prefs
/net.sf.eclipsecs.ui.prefs
/org.eclipse.ant.ui.prefs
/org.eclipse.core.net.prefs
/org.eclipse.core.resources.prefs
/org.eclipse.debug.core.prefs
/org.eclipse.debug.ui.prefs
/org.eclipse.egit.core.prefs
/org.eclipse.egit.ui.prefs
/org.eclipse.epp.logging.aeri.ide.prefs
/org.eclipse.epp.usagedata.gathering.prefs
/org.eclipse.epp.usagedata.recording.prefs
/org.eclipse.jdt.core.prefs
/org.eclipse.jdt.debug.ui.prefs
/org.eclipse.jdt.junit.prefs
/org.eclipse.jdt.launching.prefs
/org.eclipse.jdt.ui.prefs
/org.eclipse.jst.j2ee.webservice.ui.prefs
/org.eclipse.jst.jsp.core.prefs
/org.eclipse.jst.jsp.ui.prefs
/org.eclipse.jst.server.tomcat.core.prefs
/org.eclipse.m2e.core.prefs
/org.eclipse.m2e.discovery.prefs
/org.eclipse.m2e.editor.xml.prefs
/org.eclipse.m2e.wtp.prefs
/org.eclipse.mylyn.context.core.prefs
/org.eclipse.mylyn.java.ui.prefs
/org.eclipse.mylyn.monitor.ui.prefs
/org.eclipse.mylyn.tasks.ui.prefs
/org.eclipse.pde.api.tools.prefs
/org.eclipse.pde.core.prefs
/org.eclipse.recommenders.completion.rcp.prefs
/org.eclipse.rse.core.prefs
/org.eclipse.rse.ui.prefs
/org.eclipse.team.cvs.ui.prefs
/org.eclipse.team.ui.prefs
/org.eclipse.tm.terminal.prefs
/org.eclipse.ui.browser.prefs
/org.eclipse.ui.editors.prefs
/org.eclipse.ui.ide.prefs
/org.eclipse.ui.prefs
/org.eclipse.ui.workbench.prefs
/org.eclipse.wst.html.ui.prefs
/org.eclipse.wst.jsdt.core.prefs
/org.eclipse.wst.jsdt.debug.core.prefs
/org.eclipse.wst.jsdt.ui.prefs
/org.eclipse.wst.jsdt.web.core.prefs
/org.eclipse.wst.server.core.prefs
/org.eclipse.wst.sse.core.prefs
/org.eclipse.wst.sse.ui.prefs
/org.eclipse.wst.validation.prefs
/org.eclipse.wst.ws.service.policy.prefs
/org.eclipse.wst.xml.core.prefs
/org.eclipse.wst.xml.ui.prefs
/org.eclipse.wst.xsl.core.prefs
/org.maven.ide.eclipse.editor.xml.prefs
/org.maven.ide.eclipse.prefs
